/* Сперва общие правила */

* {
    box-sizing: border-box
}

/* Потом селекторы по тегам */

html {

}

main {
    width: 300px;
    margin: 0px auto;
}

h2 {
    font-weight: bold;
    font-family: Arial
}

p {

}

a {

}

/* Колонки */

.row {

}
.col {

}


/* Потом селекторы по классам */

.text-input {

}

.button {
width: 100px;
height: 30px;
border-radius: 5px;
background-color: RoyalBlue;
border: 2px solid RoyalBlue;
color: white
}

/* Потом специальные правила по страничкам */

/* Login*/

.input-login {
margin-bottom: 10px;
width: 300px;
height: 40px;
border: 2px solid #ddd;
border-radius: 5px;
}

input::placeholder {
  color: #ddd;
}

/* Страничка жанров и тегов */

.genre-first {

}

.genre-second {

}

.genre-third {

}

.genre-fourth {

}

.tag {

}

/* Страничка популярного */

.cover {

}

/* Страничка подписки  */

.box-green {

}

.box-purple {

}

.text-large {

}

.button-link {

}
