/* Сперва общие правила */

* {
    box-sizing: border-box
}

/* Потом селекторы по тегам */

html {

}

main {
    width: 300px;
    margin: 0px auto;
}

h2 {
    font-weight: bold;
    font-family: Arial
}

h3 {
    font-weight: bold;
    font-family: Arial;
}

p {
width: 200px;
font-family: Arial;
font-size: 13px;
}

a {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: .4em 1em;
  border-width: 2px;
  border-style: solid;
  border-color: RoyalBlue;
  border-radius: 5px;
  background: RoyalBlue;
  margin-right: 10px;
  font-family: Arial;
  font-size: 13px
}

/* Колонки */

.row {display: flex}
.col {flex: auto}


/* Потом селекторы по классам */

.text-input {

}

.button {
width: 100px;
height: 30px;
border-radius: 5px;
background-color: RoyalBlue;
border: 2px solid RoyalBlue;
color: white
}

/* Потом специальные правила по страничкам */

/* Login*/

.input-login {
margin-bottom: 10px;
width: 300px;
height: 40px;
border: 2px solid #ddd;
border-radius: 5px;
}

input::placeholder {
  color: #ddd;
}

/* Страничка жанров и тегов */

.genre-first {

}

.genre-second {

}

.genre-third {

}

.genre-fourth {

}

.tag {

}

/* Страничка популярного */


.cover {
margin-top: 10px;
margin-bottom: 10px;
margin-left: 10px;
margin-right: 10px;
}

/* Страничка подписки  */

.box-green {

}

.box-purple {

}

.text-large {

}

.button-link {

}
